@charset "UTF-8";

/*
#dataTable_wrapper {min-width:1000px} // 상하 모듈 우측에 고정
#dataTable {min-width:1000px} // 상하 모듈 고정된 상태에서 좌우로 스크롤시 그자리 그대로 
 */

#wrapper #content-wrapper {min-width:1080px}
/*
.dataTables_filter {text-align: right;}
.table-responsive {overflow-x:hidden !important}
 */

/* 목록 뽑는 곳에서 */
#dataTable td:first-child, td:nth-child(2){text-align: center;}
#dataTable td:first-child { width: 58px; min-width: 58px; max-width: 58px; }
#dataTable td:nth-child(2) { width: 100px; min-width: 100px; max-width: 100px; }
#dataTable td:last-child{padding: 6px; width: 190px; min-width: 190px; max-width: 190px}


#addedHairList tr:first-child td:first-child {width: 40px;}
#addedHairList tr:first-child td:nth-child(3) {width: 100px;}
#addedHairList tr:first-child td:nth-child(4) {width: 50px;}
#addedHairList tr:first-child td:nth-child(5) {width: 100px;}
#addedHairList tr:first-child td:nth-child(6) {width: 40px;}

#addedHairList td:first-child {text-align: center;}
#addedHairList td:nth-child(2) {text-align: left;}
#addedHairList td:nth-child(4) {text-align: left;}


.divider {
    height: 0;
    margin: 1.2rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
}

.spacing {
    height: 1rem;
    overflow: hidden;
}

.bg {
    height: 2rem;
}

/* .table-form .form-control {
    font-size: inherit !important;
} */

#dataTable td {
    vertical-align: middle !important;
}

.table-form .fix-height {
    height: 32px !important;
}

.table-from .sm-length {
    width: 400px;
}

.table-form td {
    padding: .4rem !important;
    vertical-align: middle !important;
    border-top: none !important;
}

.table-form .control-inline {
    display: inline-block;
}

/*페이징*/
.paging-line { width:20px; display:inline-block;}


/*예약상세*/

.book_hair_info ,.book_detail_info { width:600px; margin:0 auto; padding:20px;}
.book_hair_info tr, .book_detail_info tr {border-bottom:1px solid #E4E4E4;}
.book_detail_info tr td {padding:5px;}
.book_detail_info tr td:first-child {width:150px;}
.book_detail_info tr td:last-child {padding-left:30px;}
.book_hair_info tr td{padding:5px;}
.div_price {text-align:right; margin-top:30px; border-top:1px solid black; border-bottom:1px solid black;}
.border-left-line {border-left:1px solid #E4E4E4;}
.detail-width {width:200px;}


/*common*/
.tcenter {text-align:center;}
.tleft{text-align:left}
.tright{text-align:right}

