@charset "UTF-8";

/*
#dataTable_wrapper {min-width:1000px} // 상하 모듈 우측에 고정
#dataTable {min-width:1000px} // 상하 모듈 고정된 상태에서 좌우로 스크롤시 그자리 그대로 
 */
 
#wrapper #content-wrapper {min-width:1080px}
/*
.dataTables_filter {text-align: right;}
.table-responsive {overflow-x:hidden !important}
 */

 /* 목록 뽑는 곳에서 */
.table-list td:first-child, td:nth-child(2){text-align: center;}
.table-list td:last-child{padding: 6px;}

/* .table-form .form-control {
    font-size: inherit !important;
} */

.table-form .fix-height {
    height: 32px !important;
}

.table-from .sm-length {
    width: 400px;
}

.table-form td {
    padding: .4rem !important;
    vertical-align: middle !important;
    border-top: none !important;
}

.table-form .control-inline {
    display: inline-block;
}