@charset "UTF-8";
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.event div {
	display: block;
	text-align: center;
}

.event ul li{
	list-style-type: none;
	/* display: inline; */
	float: left;
	margin-left: 10px;
}

.clear {
	clear: both;
}

/* booking */
.time_table {width: 400px; max-width: 600px;}
.time_table ul {font-size:0;}
.time_table ul li {display: inline-block; margin: 6px; padding: 8px 14px; font-size:16px; width: calc((100% - 48px)/4); box-sizing:border-box; border: 1px solid #666; text-align: center; -webkit-box-sizing:border-box; cursor: pointer;}

.time_table .active {background-color: red;}
.time_table .disabled {background-color: lightgray; cursor: unset;}

.addedHairList {}
.addedHair {}


/* 준오헤어 타임테이블 쌔빌려고 했는데 실패! */
.juno {display: block;}
.timeselectbox {padding:15px 15px 0}
.timeselectbox .timeselect {display:none}
.timeselectbox .dateTime .tit {font-size:15px;}
.timeselectbox .dateTime .txt {padding-left:57px;}
.timeselectbox .timeline .timesec {padding:15px 0 5px 58px}
.timeselectbox .timeline .timesec li span, .timeselectbox .timeline .timesec li a {height:40px;line-height:40px;}
.timeselectbox .timeline .timesec .line {padding-left:58px;}



/*mypage sub_menu*/
.info a, .book a, .order a, .qna a, .coupon a {color:black;}
.submenu_main { text-align: center; border:1px solid #fff; line-height:60px;}
.sub_menu ul { width:1005px; height:60px; margin:0 auto;}
.sub_menu ul li { width:200px; height:60px; display: inline-block; border:1px solid #e8e8e8; background-color:#f6f6f6; float:left;}
.sub_menu ul li a { display:block; width:200px; height:60px; text-decoration:none; font-size:14px;} 
.sub_menu ul li a:hover{background-color:white; border-bottom:2px solid white} 


/*mypage guest_info*/
.mypage_title:hover { background-color:#F6F6F6; cursor:pointer;}
.info_submenu {clear:both; margin-top:50px; margin-bottom:80px; text-align:center; font-size:15px;}
.info_submenu a {text-decoration:none; color:gray;padding:10px; width:200px;} 
.info_submenu a:hover {text-decoration:none; color:black;} 

/*mypage guest_delete*/
.delete_wrapper {width:800px; margin:0 auto; text-align:center;}
.delete_sub1 {}
.delete_sub2 {}
.delete_sub3 {}

/*mypage guest_book*/
.book_wrapper {margin:0 auto; margin-top:60px; width:1000px;}
#board {clear:both; width:1000px; margin:0 auto;  text-align:center; font-size:15px;}
#board tr {border-bottom:1px solid #E4E4E4;}
#board tr td {padding:15px 0;}
#board th {border-top:3px solid black; padding:5px 0; font-weight:bold;}
#board .book_index, .qna_index{width:50px; }
#board .book_date, .qna_date {width:180px;}
#board .book_name {width:400px;}
#board .qna_title{width:400px; text-align:left; padding-left:30px;}
#board .book_name, .qna_title a {text-decoration:none;}
#board .book_price {width:100px;}
#board .book_status, .qna_resYn{width:80px;}
#board .qna_title{width:600px;}

/*mypage guest_book_detail*/
.book_detail_wrapper {width:900px; margin:0 auto; margin-top:60px;}
.book_hair_info ,.book_detail_info { width:900px; margin:0 auto;}
.book_hair_info tr, .book_detail_info tr {border-bottom:1px solid #E4E4E4;}
.book_detail_info tr td {padding:5px;}
.book_detail_info tr td:first-child {width:150px;}
.book_detail_info tr td:last-child {padding-left:30px;}
.book_hair_info tr td{padding:5px;}

.div_price {text-align:right; margin-top:30px; border-top:1px solid black; border-bottom:1px solid black;}
.book_detail_bottons {width:1000px; margin:0 auto; text-align:center; padding:30px;}
.border-left-line {border-left:1px solid #E4E4E4;}


.detail-width {width:200px;}

/**/
.paging-line { width:20px; display:inline-block;}
.paging-line a {text-decotation:none; color:black;}

.qna_wrapper { margin-top:60px; display: block; margin: 0 auto;}
.qna_buttons {width:1000px; margin:0 auto; text-align:right;}

/*about*/
.about_main {margin-top:50px; text-align: center; background: #ffffff;}

/*button*/
.button {width:130px; height:50px; color:black; border:none; font-size:15px; margin:5px; width:200px; background: white; border:1px solid #777;}

/*common*/
.tcenter {text-align:center;}
.tleft{text-align:left}
.tright{text-align:right}
