/*@import url("font-awesome.min.css");*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/*@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
/* Basic */

	html, body {
		background: white;
		width:100%;
		height: 100%; 
		margin:0 auto;
		/*font-family: 'NanumSquare', sans-serif !important;*/
		font-family: 'Noto Sans KR', sans-serif;

		
	}
	input,button,select  {font-family: 'Noto Sans KR', sans-serif;}
	
		body.loading * {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	body, input, select, textarea {
		color: #555555;
		/*font-family: 'S-CoreDream-3Light';*/
		font-size: 13pt;
		font-weight: 400;
		line-height: 1.65em;
	}


	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	p {
		line-height: 1.8em;
	}

		p.medium {
			font-size: 1.4em;
		}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #82b440;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #82b440;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 3em;
		text-align: center;
		text-transform: uppercase;
	}

		header.major h2 {
			font-size: 2.6em;
			font-weight: 700;
		}

		header.major .byline {
			display: block;
			padding-top: 1em;
			letter-spacing: 1px;
			font-size: 1.4em;
		}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}




/* Wrapper */
	
	.wrapper {
		 flex: 1 0 auto;
		 
	}

		.wrapper.style1 {
			padding: 0em;
			background: #222222 url(../images/banner.jpg) no-repeat;
			background-size: cover;
			 display: flex;
    		flex-direction: column;
		}

		.wrapper.style2 {
			background: #f2f2f2;
		}

			.wrapper.style2 .major {
				text-align: left !important;
			}

				.wrapper.style2 .major h2 {
					display: block;
					margin-bottom: 0.70em;
					letter-spacing: 1px;
					line-height: 1.4em;
					text-transform: uppercase;
					font-size: 1.8em;
					font-weight: 400;
				}

				.wrapper.style2 .major .byline {
					letter-spacing: normal;
					line-height: 1.6em;
					text-transform: capitalize;
					font-size: 1.4em;
				}

			.wrapper.style2 h3 {
				display: block;
				margin-bottom: 1em;
				letter-spacing: 1px;
				line-height: 1.4em;
				text-transform: uppercase;
				font-size: 1.6em;
				font-weight: 400;
			}

		.wrapper.style3 {
			padding-bottom: 6em;
			background: #82b440;
			text-align: center;
			color: white;
		}

			.wrapper.style3 .container {
				padding-left: 6em;
				padding-right: 6em;
			}

			.wrapper.style3 p {
				font-size: 1.6em;
			}

		.wrapper.style4 {
			background: white;
		}

		.wrapper.style5 {
			background: #82b440;
			text-align: center;
			color: white;
		}

			.wrapper.style5 .image {
				display: block;
				width: 60%;
				margin: 0em auto 2em auto;
			}

				.wrapper.style5 .image img {
					border-radius: 50%;
					border: 10px solid;
					border-color: white;
				}

/* Header */
	/*硫붾돱*/
	#header {
	 	position: fixed;
	 	top:0;
		color: black;
		height:6em;
		background: white;
		
	}
	#header .container {
			position: relative;
		}

	.homepage #nav {
		position: static;	
		right: none;
	}
	
	
/*login nav*/
	
#login-bar {
	
}	
#login-bar ul {
		/* float:right; */
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 3px;
		color: inherit;
		display: inline-block;
		font-size: 12px;
		/* margin-right:200px; */
		
		
	}
		#login-bar li {
			display: inline-block;
			
		
		}
	
			#login-bar>ul>li a {
				color: inherit;
				line-height: 1em;
				letter-spacing: 2px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight:400;
				font-size: 1em;
				
				
			}
				#login-bar>ul>li a:hover {
					color:gray;
				}





/*메뉴*/

#nav {
		clear:both;
		position: absolute;
		top: 0;
		right: 0;
		margin-bottom:50px;
		
	}

		#nav > ul {
			margin: 0;
			
		}
				#nav > ul > li {
				border-radius: 4px;
				display: inline-block;
				margin:0 40px;
				padding: 0 1em;
				
				
			}

				#nav > ul > li a {
					color: inherit;
					line-height: 1em;
					letter-spacing: 2px;
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 400;
					font-size: 1em;
				}
				
				#nav > ul > li a:hover {
					color:gray;
				}

				#nav > ul > li:first-child {
					margin-left: 0;
				}

				#nav > ul > li > ul {
					display: none;
				}


/* �뱶濡��떎�슫 */

	.dropotron {
		clear:both;
		top: 2em;
		background: rgba(32, 32, 32, 0.75);
		border-radius: 10px;
		color: inherit;
		min-width: 10em;
		padding: 1em 0;
		color: white;
		margin-top:25px;
		
		
	}

		.dropotron > li {
			text-align:left;
			line-height: 2em;
			padding: 0 1em;
			
		}

			.dropotron > li > a {
				color: inherit;
				letter-spacing: 2px;
				text-decoration: none;
				text-transform: uppercase;
			}

			.dropotron > li:hover > a {
				color: gray;
			}

		.dropotron.level-0 {
			border-radius: 4px;
			font-size: 1em;
			
		}

		
		
		
/* Footer */

	#footer {
		background-color: #f6f6f6;
		/* padding: 5em 0 3em 0; */
		text-align: center;
		color: white;
		bottom:0;
		width:100%;
		left:0;
		right:0;
		
			}
	.footer-top {width:100%; height:80px;border:1px solid #c0c0c0; margin:0 auto; }
	#footer .footer-top .left {width:500px; height:80px; color:#616264; float:left; margin-left:300px; line-height:80px;}		
	#footer .footer-top .left .line {display:inline; border-left:1px solid black; opacity:.40;}		
	#footer .footer-top .right {width:500px;  height:80px;float:right; margin-right:300px;line-height:60px; }		
	#footer .footer-top .right .icons {display:inline; padding: 5px; text-align:center; }
	#footer .footer-top .right .icons li {display:inline-block; padding:10px; }
	#footer .footer-top .right .icons li img:hover {cursor:pointer;}
	

	
		
/* Copyright */

	#copyright {
		position: relative;
		text-align:center;
		font-size:12px;
		padding:2em 0em 2em 0em;
		color: black;
		opacity: .40;
		
	}

		#copyright a {
			text-decoration: none;
			color: inherit;
		}